/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    line-height: 1.5;
    background-color: #FCFAFA;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

header {
    font-family: Courier;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 2px;
    margin: 2px;
    left: 4.5%;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 60%;
}

#headRow {
    margin-left: 12%;
    border-bottom: 1px solid black;
}

.message {
    font-family: Courier New;
    font-weight: 100;
}

input {
    font-family: courier new;
    font-size: 1.5em;
    font-weight: 100;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: lightgray;
    width: 47%;
    color: #0DAAFF;
}

a {
    font-family: Courier New;
    font-weight: 600;
    color: white;
    padding: 2px;
    background-color: black;
    margin: 2px;
    left: 200px;
    display: inline-block;
    text-align: right
}

button {
    font-family: Courier New;
    color: #ffffff;
    font-size: 1em;
    padding: 9px 5px 5px 5px;
    background: #d1d1d1;
    text-decoration: none;
    border: none;
}

button:hover {
    background: #85FF00;
    /*//#3d3d3d; */
    
    text-decoration: none;
}

.livestamp {
    font-family: Garamond;
    font-style: italic;
    font-size: 0.75em;
    color: gray;
    width: 120px;
    margin-left: 200px;
    display: inline-block;
    text-align: right;
}
