/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    line-height: 1.5;
    background-color: white;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

header {
    font-family: Courier;
    /*font-size: 2em;*/
    
    text-decoration: none;
    /*font-style: bold;   this never works. why?   */
    
    color: black;
    padding: 2px;
    background-color: white;
    margin: 2px;
    left: 30px;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 50%;
    border-bottom-width: 15px;
}

#headRow {
    margin-left: 100px;
    border-width: thick;
    border-bottom: 5px solid black;
}

.message {
    font-family: Courier New;
    font-weight: 100;
}

a {
    font-family: Courier New;
    font-weight: 600;
    color: white;
    padding: 2px;
    /*height: 30px;*/
    
    background-color: black;
    margin: 2px;
    left: 200px;
    display: inline-block;
    text-align: right
}

.livestamp {
    font-family: Garamond;
    font-style: italic;
    font-size: 0.75em;
    color: gray;
    width: 120px;
    margin-left: 200px;
    display: inline-block;
    text-align: right;
}
