/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    line-height: 1.5;
    background-color: #FCFCFC;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

header {
    font-family: Courier;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 2px;
    margin: 2px;
    left: 4.5%;
    position: relative;
    display: inline-block;
    text-align: left;
}

.hashtag {
    background: #FFED5F;
    /*blue 0DAAFF red FF005E green 85FF00*/
}

#headRow {
    margin-left: 12%;
    width: 50%;
    border-bottom: 1px solid gray;
    /*hidden, dotted, dashed, solid, double, groove, ridge, inset, outset*/
    /*border-bottom: 1px solid #FF005E;*/
}

.message {
    font-family: Courier New;
    font-weight: 100;
}

#trademark {
    display: inline;
    font-size: 0.2em;
    font-style: italic;
    padding: 4px 19px 4px 19px;
    background: white;
    border: 1px solid black;
    margin: 0px 7px 0px 15px;
    /*box-shadow: -2px 2px gray;*/
    /*color: #FF005E;*/
}

input {
    font-family: Courier new;
    font-size: 1.5em;
    font-weight: 100;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: white;
    width: 55%;
    color: #0DAAFF;
}

a {
    font-family: Courier New;
    font-weight: 600;
    color: white;
    padding: 2px;
    background-color: black;
    margin: 2px;
    display: inline-block;
}

button {
    font-family: Courier New;
    color: #ffffff;
    font-size: 1em;
    padding: 9px 5px 5px 5px;
    background: #e1e1e1;
    border: 1px solid black;
    text-decoration: none;
    border: none;
}

button:hover {
    background: #85FF00;
    text-decoration: none;
}

.livestamp {
    font-family: Garamond;
    font-style: italic;
    font-size: 0.75em;
    color: gray;
    width: 120px;
    margin-left: 200px;
    display: inline-block;
    text-align: right;
}

::-webkit-input-placeholder {
    color: #E0E0E0;
}

:-moz-placeholder {
    /* Firefox 18- */
    
    color: #E0E0E0;
}

::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #E0E0E0;
}

:-ms-input-placeholder {
    color: #E0E0E0;
}
